/*css-potfolio*/
body{
    color: green;
    background-color: lightgrey;
}

#intro-container{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.intro, .body{
    margin: 0 auto;
    text-align: center;
}

h1 {
    top: 100%;
    left: 100%;
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: cavs;
    animation-duration: 4s; 
    animation-iteration-count: infinite; 
    animation-name: cavs;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes cavs{
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

h3{
    color: limegreen;
}

p{
    color: orangered;
}